h1
{
	margin: 30px;
	color: red;
	text-align: center;
}
.x
{
	  width: 20em; 
	  height: 2em;
       
}
span
{
 font-size:30;
}

.submit1
{
width: 5em; 
	  height: 2em;
}
.a
{
	float:right;
	width: 10em; 
	  height: 2em;
}

